[Desktop Entry]
Name=OMX Simple Interface
Comment=OMXPlayer simple interface
Comment[it]=Semplice interfaccia per OMXPlayer
Exec=/usr/share/osi/start.sh %f
Icon=video
Terminal=false
Type=Application
Categories=GTK;Utility;Application;