[Desktop Entry]
Name=OMX Simple Interface
Comment=OMXPlayer simple interface
Comment[it]=Semplice interfaccia per OMXPlayer
Exec=/usr/share/omxsi/start.sh %f
Icon=video
Terminal=false
Type=Application
Categories=Utility;Application;